.mainBackground{

background-repeat: repeat;
background-position-x: left;



}

.titleBarHome {
    height: auto;
    width: 100%;
    background-color: salmon;
    outline-style: solid;
    outline-width: 1px;
    padding-left: 40px;

}

.howToTitle {
    padding-left: 40px;
    padding-top: 20px;
    font-size: larger;
    font-style: oblique;
}

/* Style the button that is used to open and close the collapsible content */
.WISRStatCollapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Style the button that is used to open and close the collapsible content */
.thridPartyCollapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;

}

img {
    max-height: 800px;
    max-width: 1000px;
    padding-left: 50px;
}
