

.App {
    text-align: center;
}

.wrapper {
    position: center;
}

.heading {
    margin: 25px 0;
    font-size: 24px;
}



@media only screen and (max-width: 600px){

}

.TopTitle {
    background: whitesmoke
}

.App-logo {
    height: 30pxpx;
    pointer-events: none;
    left: 0;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}


@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(126deg);
    }
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.buttonOutLine {
    background-color: white;
    color: black;
    border: 3px solid #000000;

    /* Green */
}

.buttonOutLine:hover {
    transition: 200ms;
    border: 3px;
    border-color: rgb(255, 198, 0);
    border-style: solid;

}

/* The topbar */
.topBar {
    height: 70px;
    /* Full-height: remove this if you want "auto" height */
    width: 100%;
    /* Set the width of the sidebar */
    background-color: whitesmoke;

    outline-width: 1px;
    outline-style: solid;
    top: 0;
    z-index: 1;
}

.titleBar {
    height: 35px;
    width: 100%;
    background-color: salmon;
    outline-style: solid;
    outline-width: 1px;

}

form {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.warningFile {
    color: red;
}

.wrapper {
    position: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 100px 100px 100px 100px;
    background-color: whitesmoke;
    color: #444;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    gap: 20px;
    min-width: 890px;
    max-width: 1000px;
}

.box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    max-width: 350px;

}

.a {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    /* background-color: pink; */
    max-width: 375px;
    max-height: 300px;
}

.b {
    grid-column: 1 / 6;
    grid-row: 4;
    /* background-color: blue; */
    font-size: 15px;
    max-height: 115px;
        max-width: 665px;
            max-height: 300px;


}

.q {
    grid-column: 4;
    grid-row: 4;
}
.pieStatLegend {
    display: inline;
    height: 50px;
    width: 50px;

    padding-left: 10px;

}

.pieStatLegend>* {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.pieStatLegend>*:first-child {
    margin-top: 0px;
}

.c {
    grid-column: 4;
    grid-row: 1;
    /* background-color: red; */
}

.d {
    grid-column: 4;
    grid-row: 2;
    /* background-color: #FFC600; */
}

.e {
    grid-column: 5;
    grid-row: 2;
    /* background-color: purple; */
}

.f {
    grid-column: 5;
    grid-row: 1;
    /* background-color: #818181; */
}

.g {
    grid-column: 6;
    grid-row: 1;
    /* background-color: purple; */
}

.h {
    grid-column: 6;
    grid-row: 2;
    /* background-color: #818181; */
}

.i {
    grid-column: 4;
    grid-row: 3;
    /* background-color: #818181; */
}

.j {
    grid-column: 5;
    grid-row: 3;
    /* background-color: #818181; */
}

.k {
    grid-column: 6;
    grid-row: 2;
    /* background-color: #818181; */
}






/* The sidebar menu */
.sidenav {
    height: auto;
    /* Full-height: remove this if you want "auto" height */
    width: 200px;
    /* Set the width of the sidebar */
    /* position: fixed; */
    position: absolute;
    /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; */
    /* Stay on top */

    box-shadow: -5px 0px 0px 0px black, 3px 0px 0px 0px black;
    /* Stay at the top */
    left: 0;
    background-color: #008C15;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* padding-top: 20px; */

    /* outline-color: #FFC600;
  outline-width: 5px;
  outline-style: solid; */

}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.tableStats {
    margin-left: auto;
    margin-right: auto;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.statSideCard {
    background-color: whitesmoke;
    color: #272727;
    padding: 15px;
    border-radius: 15px;
    border: 2px;
    border-color: rgb(0, 140, 21);
    border-style: ridge;
    transition: 200ms;
    max-width: 200px;
    min-width: 130px;
    min-height: 20px;
}





.top-DashBoard {
    height: 80px;
    position: relative;
    float: right;
    width: 200px;
    background-color: #008C15;
    display: inline;
}


.top-DashBoard .visual {
    width: 70px;
    height: 70px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 0px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
    opacity: 0.2;
}

.TopBar{
    background-color: whitesmoke;

}

/* Style page content */
.main {
    margin-left: 20px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.spacer {
    width: 4px;
    height: auto;
    display: inline-block;
}

.fileInput {
    outline: auto
}

.backgroundImg {
    background-size: auto;
    background-repeat: repeat-x;
    background-position: top left;
}

.tableStats th {
    border: #000000;
    border-width: 2px;
    background-color: #008C15;
    border-style: solid;
    padding: 5px;
}

.tableStats tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableStats tr:hover {
    background-color: #FFC600
}

.tableStats {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 85%;
margin-left: auto;
margin-right: auto;

}

.dashboard-stat {
    position: relative;
    max-width: 225px;
    
    /*display: block;
    margin: 0 0 25px;
    overflow: hidden;
    border-radius: 4px;
    background-color: sandybrown;
    border-style: solid;
    border-color: black;
    min-width: 130px; */
}

.dashboard-stat .visual {
    width: 70px;
    height: 70px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 0px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
    opacity: 0.2;

}

.dashboard-stat .visual>i {

    font-size: 110px;
    line-height: 110px;
    color: black;
}

.dashboard-stat .visual>i .leftImg {
    padding-right: 30px;
    height: 75px;
    width: 75px;
    opacity: .1;
}


.details {
    position: absolute;
    right: 15px;
    padding-right: 5px;
    color: black;
}

.details .number {
    padding-top: 0px;
    text-align: right;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
}

.details .number .desc {


    text-transform: capitalize;
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
}

.TopDashboardHolder {
    width: 800px;
    height: 250px;


}

.TopDashboardHolder .chartSection {
    width: 250px;
    height: 250px;
    float: left;
    outline: 1px solid;


}

.TopDashboardHolder .statSection {
    width: 250px;
    height: 125px;
    outline: 1px solid;
    float: left;
}





