.App {
    text-align: center;
}

.TopTitle {
    background: whitesmoke
}

.App-logo {
    height: 30pxpx;
    pointer-events: none;
    left: 0;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.TopBar {
    background-color: whitesmoke;

}

form {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttonOutLine {
    background-color: white;
    color: black;
    border: 3px solid #000000;
    /* Green */
}

.buttonOutLine:hover {
    transition: 200ms;
    border: 3px;
    border-color: rgb(255, 198, 0);
    border-style: solid;

}

/* The topbar */
.topBar {
    height: 70px;
    /* Full-height: remove this if you want "auto" height */
    width: 100%;
    /* Set the width of the sidebar */
    background-color: whitesmoke;

    outline-width: 1px;
    outline-style: solid;
    top: 0;
    z-index: 1;
}

.titleBar{
    height: 35px;
    width: 100%;
    background-color: salmon;
    outline-style: solid;
    outline-width: 1px;

}

/* The sidebar menu */
.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 200px;
    /* Set the width of the sidebar */
    /* position: fixed; */
    position: absolute;
    /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; */
    /* Stay on top */

box-shadow: -5px 0px 0px 0px black, 3px 0px 0px 0px black;
    /* Stay at the top */
    left: 0;
    background-color: #008C15;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* padding-top: 20px; */

    /* outline-color: #FFC600;
  outline-width: 5px;
  outline-style: solid; */

}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.tableStats {
    margin-left: auto;
    margin-right: auto;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 10px;
    /* Same as the width of the sidebar */

}

.warningFile {
    color: red;
}

.header {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rebeccapurple;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.spacer {
    width: 4px;
    height: auto;
    display: inline-block;
}

.fileInput {
    outline: auto
}

.backgroundImg {
    background-size: auto;
    background-repeat:repeat-x;
    background-position: top left;
}

.tableStats th{
    border: #000000;
    border-width: 2px;
    background-color: #008C15;
    border-style: solid;
    padding: 5px;
}

.tableStats tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableStats tr:hover {
    background-color: #FFC600
}

.tableStats {
border: 1px solid #ddd;
    border-collapse: collapse;
    width: 85%;
    margin-left: auto;
    margin-right: auto;       
}