.card {
    background-color: white;
    color: #272727;
    padding: 15px;
    border-radius: 15px;
    border: 2px;
    border-color: rgb(0, 140, 21);
    border-style: ridge;
    transition: 200ms;
    max-width: 200px;
    min-width: 200px;
  }
  
  .card:hover {
    transition: 200ms;
    border: 3px;
    border-color: rgb(255, 198, 0);
    border-style: solid;
  }
  
  .card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .profile {
    width: 2.5rem;
    height: 2.5rem;
    background-color: tomato;
    border-radius: 50%;
    margin: 10px;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    color: white;
    justify-content: center;
  }
  
  .letter {
    vertical-align: middle;
  }
  
  .card-title-group {
    justify-content: center;
  }
  
  .card-title {
    flex: 0.5;
    font-size: large;
    margin-bottom: 0;
    margin-top: 0;
  }
  .card-date {
    flex: 0.3;
    font-size: small;
    margin-top: 0;
  }
  
  .card-image {
    width: 300px;
    height: 180px;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .card-like-icon {
    height: 25px;
  }
  
  .card-text {
    width: 350px;
    font-size: medium;
  }
  
  .card-cost {
    width: 150px;
    font-size: large;
    font-weight: bold;
  }
  
  .card-like-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .review-text {
    font-size: small;
    margin-left: 10px;
  }

  .greenBoi{
    font-size: 14px;
    color: green;
  }

  .redBoi {
    font-size: 14px;
    color: red;
  }

  .yellowBoi {
    font-size: 14px;
    color: orange
  }
