.cardList {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  
  .cardList > * {
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .cardList > *:first-child {
    margin-top: 0px;
  }
  