.navbar{
        margin-left: auto;
            margin-right: auto;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;

    padding-left: 1px;
    padding-right: 1px;
    overflow: hidden;
    display: inline-block;
    color: #008C15;
}

.navbar li {
    float: left;
    outline: #000000;
    outline-style: groove;
    outline-color: #000000;
    outline-width: 0.01cm;
}

.navbar li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    outline: #000000;
    outline-style: groove;
    outline-color: #000000;
    outline-width: 0.01cm;

}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: green;
}