



.pieStatLegend {
    display: inline;

    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}
        
.pieStatLegend>* {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.pieStatLegend>*:first-child {
    margin-top: 0px;
}