.saleCardList {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.saleCardList>* {
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
}

.saleCardList>*:first-child {
    margin-top: 0px;
}