

.App {
  text-align: center;
}

.TopTitle {
  background: whitesmoke
}

.App-logo {
  height: 30pxpx;
  pointer-events: none;
  left: 0;
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonOutLine {
  background-color: white;
  color: black;
  border: 3px solid #000000;
  /* Green */
}

.buttonOutLine:hover {
  transition: 200ms;
  border: 3px;
  border-color: rgb(255, 198, 0);
  border-style: solid;
  
}

/* The topbar */
.topBar {
  height: 70px;
  /* Full-height: remove this if you want "auto" height */
  width: 100%;
  /* Set the width of the sidebar */
  background-color: whitesmoke;

      outline-width: 1px;
      outline-style: solid;
      top: 0;
      z-index: 1;
}

/* The sidebar menu */
.sidenav {
 height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 200px;
  /* Set the width of the sidebar */
  /* position: fixed; */
  /* Fixed Sidebar (stay in place on scroll) */
  /* z-index: 1; */
  /* Stay on top */

  /* Stay at the top */
  left: 0;
  background-color: #008C15;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;

  /* outline-color: #FFC600;
  outline-width: 5px;
  outline-style: solid; */

}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.tableStats {
    margin-left: auto;
      margin-right: auto;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.spacer{
  width: 4px;
  height: auto;
  display: inline-block;
}

.fileInput {
  outline:auto
}

.navigation {
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
  display: inline-block;
  color: #008C15;
}

li {
  float: left;
    outline: #000000;
      outline-style: groove;
      outline-color: #000000;
      outline-width: 0.01cm;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  outline: #000000;
  outline-style: groove;
  outline-color: #000000;
  outline-width: 0.01cm;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: green;
}


.backgroundImg {

  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-image: url("./images/backgroundSubwayImage\ \(1\).png");

}
